{{> header }}
{{> navbar }}
<div class="row">

    <div class="col-8">
        <h1> About </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam maxime perspiciatis consequuntur cum inventore et non recusandae commodi aspernatur nesciunt, amet minus accusantium optio temporibus harum corrupti, fuga eius incidunt.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/harry.jpg" alt="harry" class="img-thumbnail">
    </div>
</div>
{{> footer}}